<app-header></app-header>
<main>
<app-posts-options *ngIf="alas" [mesto]="'profile'"></app-posts-options>
<app-online-users></app-online-users>

<div class="card" id="profileInfoCard">
    <hr/>
    <div class="row user-container">
    <div class="col-2">
        <img [src]="korisnik.avatar" class="avatar" *ngIf="korisnik.avatar" />
        <img src="../../assets/img_avatar.png" class="avatar" *ngIf="!korisnik.avatar"/>
    </div>
    <div class="col-5">
        <p>{{korisnik.alas}}</p>
        <p *ngIf="korisnik.display">{{korisnik.display}}</p>
        <p *ngIf="!korisnik.display">Матф студент</p>
    </div>
    <div class="col-5 ">
        <button
            class="button"
            [disabled]="pracenjeStatus === 'obradaTrenutno'"
            [ngSwitch]="pracenjeStatus"
            (click)="promeniStatusPracenja()"
        >
            <i
              *ngSwitchCase="'obradaTrenutno'"
              class="fa fa-lg fa-spinner fa-spin"
            ></i>
            <ng-template [ngSwitchCase]="'zaprati'">Запрати</ng-template>
            <ng-template [ngSwitchCase]="'otprati'">Отпрати</ng-template>
            <ng-template [ngSwitchCase]="'korisnikovProfil'">Подешавања</ng-template>
          </button>
    </div>
    </div>
    <hr />
<div class="row">
    <div class="col-4">
        <p class="center">{{postService.sveObjavePodaci | brojObjava: korisnik}}</p>
        <p class="center">Објаве</p>
    </div>
    <div class="col-4">
        <p class="center">{{korisnik.followers.length}}</p>
        <p class="center">Пратиоци</p>
    </div>
    <div class="col-4">
        <p class="center">{{korisnik.following.length}}</p>
        <p class="center" >Прати</p>
    </div>
</div>
<hr *ngIf="korisnik.description">
<div class="row" *ngIf="korisnik.description">
    <div class="col-12">
        <p class="center">„{{korisnik.description}}”</p>
    </div>
</div>
<hr />
</div>

<app-post-view
        *ngFor="let objava of postService.sveObjavePodaci | user | post | topic | poredak"
        [korisnik]="objava.user"
        [objava]="objava"
        [objavaStrana]="false"
    ></app-post-view>
</main>
<app-modal
    [modalNaslov]="modalNaslov"
    [modalPoruka]="modalPoruka"
    [(prikaziModal)]="prikaziModal"
></app-modal>
