<app-header></app-header>
<main>
<app-posts-options></app-posts-options>
<app-online-users></app-online-users>

<div class="card" id="profileInfoCard">
    <div class="row user-container">
    <div class="col-2">
        <img [src]="korisnik.avatar" class="avatar" *ngIf="korisnik.avatar" />
        <img src="../../assets/img_avatar.png" class="avatar" *ngIf="!korisnik.avatar"/>
    </div>
    <div class="col-5">
        <p>{{korisnik.alas}}</p>
        <p *ngIf="korisnik.display">{{korisnik.display}}</p>
        <p *ngIf="!korisnik.display">Матф Студент</p>
    </div>
    <div class="col-5 ">
        <button class="button" [disabled]="pracenjeStatus === 'obradaTrenutno'" [ngSwitch]="pracenjeStatus" (click)="promeniStatusPracenja()">
            <i
              *ngSwitchCase="'obradaTrenutno'"
              class="fa fa-lg fa-spinner fa-spin"
            ></i>
            <ng-template [ngSwitchCase]="'zaprati'">Запрати</ng-template>
            <ng-template [ngSwitchCase]="'otprati'">Отпрати</ng-template>
            <ng-template [ngSwitchCase]="'korisnikovProfil'">Подешавања</ng-template>
          </button>
    </div>
    </div>
</div>
</main>
<app-modal [modalNaslov]="modalNaslov" [modalPoruka]="modalPoruka" [(prikaziModal)]="prikaziModal"></app-modal>
