::placeholder {
   color: rgb(182, 182, 182);
}


input[type="checkbox"] {
   margin-right: 10px;
}

select {
   margin-left: 10px;
}

select, option {
   color: #748194;
}

input:not([type="checkbox"]) {
   font-weight: bold;
    min-width: 77%;
    margin: 0 auto;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
    transition-duration: 0.8ms;
    padding-right: 25px;
}
input:not([type="checkbox"]):hover {
   color: #748194;
    background-color: gainsboro;
}

input:hover, input:focus {
   color: #748194;
   background-color: gainsboro;
}

.card {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px grey;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    margin-top: 0;
    color: #748194;
}

#postsOptionsCard{
    position: fixed;
    left: 0;
    margin-left: 30px;
    padding-top: 25px;
}

.h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold !important;
}

.form-group {
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
}

ng-multiselect-dropdown {
   width: 90%;
   margin: 0 auto;
   color: rgba(182, 182, 182,0.6);
}