.modal {
    color: #748194 !important;
    font-weight: bold !important;
 }

 button {
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: firebrick;
    color: white;
    font-size: 14px;
    font-weight: bold !important;
 }