<div class="card" id="commentCard">
    <div class="row user-container">
        <div class="col-2">
            <img
                [src]="komentar.user.avatar"
                class="avatar"
                *ngIf="komentar.user.avatar"
                (click)="routerNavigation.idiNaProfil(komentar.user.alas)"
            />
            <img
                src="../../assets/img_avatar.png"
                class="avatar"
                *ngIf="!komentar.user.avatar"
                (click)="routerNavigation.idiNaProfil(komentar.user.alas)"
            />
        </div>
        <div class="col-4">
            <p>{{komentar.user.alas}}</p>
            <p *ngIf="komentar.user.display">{{komentar.user.display}}</p>
            <p *ngIf="!komentar.user.display">Матф студент</p>
        </div>
        <div class="col-5 date-container">
            <p class="date-text">{{ komentar.date | date:'d. M. y, H.mm' }}</p>
        </div>
        <div class="col-1">
            <i *ngIf="komentar.user.alas === userService.korisnikPodaci.alas"
               class="fas fa-trash delete" (click)="obrisiKomentar()"></i>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-12 content-container">
            <p>{{komentar.content}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <p class="center">
            <i
                class="far fa-thumbs-up"
                (click)="lajkujKomentar()"
                [ngClass]="{'crvena': korisnikLajkovao, 'siva': !korisnikLajkovao}"
            ></i>{{komentar.likes.length}}</p>
        </div>
    </div>
    <hr>
</div>
