main {
    margin-top: 60px;
}

::placeholder {
    color: rgb(182, 182, 182);
 }
 
 .flex {
    display: flex;
 }
 
 .fa:not(.fa-spinner) {
    width: 10px;
    height: 10px;
    color: black;
    position: relative;
    left: -60px;
    top: 10px;
 }
 
 .fa-spinner {
    color: white;
    font-size: 1.5em;
 }
 
 
 
 .card {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px grey;
    margin-left: 200px;
    position: relative;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    margin: 0 auto;
 }
 
 
 input {
    font-weight: bold;
    min-width: 77%;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
    transition-duration: 0.8ms;
 }
 
 input:hover, input:focus {
    color: #748194;
    background-color: gainsboro;
 }
 
 button {
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: firebrick;
    color: white;
    font-size: 14px;
    font-weight: bold !important;
 }
 
 .h1 {
    color: #748194;
    font-size: 30px;
    text-align: center;
    font-weight: bold !important;
 }
 
 .h2 {
    color: #748194;
    font-size: 17px;
    text-align: center;
    font-weight: bold !important;
    cursor: pointer;
 }
 
 .ng-valid:not(form) {
    border-left: 5px solid forestgreen;
 }
  
 .ng-invalid:not(form) {
    border-left: 5px solid firebrick;
 }
 