<app-header></app-header>
<main>
    <div class="card" id="passwordChangeCard">
        <form
            id="changePassword"
            [formGroup]="promenaLozinkeFormular"
            (ngSubmit)="promeniLozinku(promenaLozinkeFormular.value)"
        >
          <br />
          <h1 class="h1">ПРОМЕНА<br>ЛОЗИНКЕ</h1>
          <hr />
          <br />

          <div class="flex">
            <input
              #oldPassword
              name="oldPassword"
              type="password"
              placeholder="Стара лозинка"
              formControlName="oldPassword"
            />
            <i
              #oldPasswordI
              class="fa fa-lock"
              (click)="inputAdornment.promeniVidljivost(oldPassword, oldPasswordI)"
            ></i>
          </div>

          <div class="flex">
            <input
              #newPassword
              name="newPassword"
              type="password"
              placeholder="Нова лозинка"
              formControlName="newPassword"
            />
            <i
              #newPasswordI
              class="fa fa-lock"
              (click)="inputAdornment.promeniVidljivost(newPassword, newPasswordI)"
            ></i>
          </div>

          <div class="flex">
            <input
              #confirmPassword
              name="confirmPassword"
              type="password"
              placeholder="Потврда лозинке"
              formControlName="confirmPassword"
            />
            <i
              #confirmPasswordI
              class="fa fa-lock"
              (click)="inputAdornment.promeniVidljivost(confirmPassword, confirmPasswordI)"
            ></i>
          </div>

          <button class="button" [disabled]="promenaLozinkeTrenutno">
            <i
              *ngIf="promenaLozinkeTrenutno; else promenaLozinke"
              class="fa fa-lg fa-spinner fa-spin"
            ></i>
            <ng-template #promenaLozinke>Промени лозинку</ng-template>
          </button>

        </form>
    </div>

    <div class="card" id="profileInfoChangeCard">
      <form
          id="changeProfileInfo"
          [formGroup]="promenaProfilaFormular"
          (ngSubmit)="izmeniPodatkeProfila(promenaProfilaFormular.value)"
      >
        <br />
        <h1 class="h1">АЖУРИРАЊЕ<br>ПРОФИЛА</h1>
        <hr />
        <br />

        <div class="flex">
          <!-- Ovaj input nam treba jer patchvalue ne moze na form input -->
          <input type="text" style="display: none" formControlName="avatar">
          <input
            style="display: none"
            type="file"
            accept="image/*"
            (change)="promenaAvatara($event)"
            name="avatar"
            #avatar
            >
            <div class="imgcontainer" *ngIf="trenutnoIzabraniAvatar">
          <img [src]="trenutnoIzabraniAvatar" class="avatar" (click)="avatar.click()"/>
          <div class="imghover" (click)="avatar.click()">
            <div class="text">Измени</div>
          </div>
        </div>
        <div class="imgcontainer" *ngIf="!trenutnoIzabraniAvatar">
          <img src="../../assets/img_avatar.png" class="avatar" (click)="avatar.click()"/>
          <div class="imghover" (click)="avatar.click()">
            <div class="text">Измени</div>
          </div>
        </div>
        </div>

        <div class="flex">
          <input
            #display
            name="display"
            type="text"
            placeholder="Име за приказивање"
            formControlName="display"
          />
          <i class="fa fa-user"></i>
        </div>

        <div class="flex">
          <textarea
            #description
            rows='4'
            id="description"
            name="description"
            type="text"
            placeholder="Опис"
            formControlName="description"
          ></textarea>
          <i class="fa fa-info"></i>
        </div>

        <button class="button" [disabled]="promenaProfilaTrenutno">
          <i
            *ngIf="promenaProfilaTrenutno; else promenaProfila"
            class="fa fa-lg fa-spinner fa-spin"
          ></i>
          <ng-template #promenaProfila>Ажурирај профил</ng-template>
        </button>

      </form>
  </div>
</main>
<app-modal [modalNaslov]="modalNaslov" [modalPoruka]="modalPoruka" [prikaziModal]="prikaziModal"></app-modal>
