<div class="card" id="postCard">
    <div class="row user-container">
        <div class="col-2">
            <img [src]="korisnik.avatar" class="avatar" *ngIf="korisnik.avatar" (click)="routerNavigation.idiNaProfil(korisnik.alas)"/>
            <img src="../../assets/img_avatar.png" class="avatar" *ngIf="!korisnik.avatar" (click)="routerNavigation.idiNaProfil(korisnik.alas)"/>
        </div>
        <div class="col-5">
            <p>{{korisnik.alas}}</p>
            <p *ngIf="korisnik.display">{{korisnik.display}}</p>
            <p *ngIf="!korisnik.display">Матф Студент</p>
        </div>
        <div class="col-5 date-container">
            <p class="date-text">{{ objava.date | date:'d. M. y, H.mm' }}</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-12">
            <p class="title">{{objava.title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 content-container">
            <p>{{objava.content}}</p>
        </div>
    </div>
</div>
