<div class="card" id="postCard">
    <div class="row user-container">
        <div class="col-2">
            <img
                [src]="korisnik.avatar"
                class="avatar"
                *ngIf="korisnik.avatar"
                (click)="routerNavigation.idiNaProfil(korisnik.alas)"
            />
            <img 
                src="../../assets/img_avatar.png"
                class="avatar"
                *ngIf="!korisnik.avatar"
                (click)="routerNavigation.idiNaProfil(korisnik.alas)"
            />
        </div>
        <div class="col-4">
            <p>{{korisnik.alas}}</p>
            <p *ngIf="korisnik.display">{{korisnik.display}}</p>
            <p *ngIf="!korisnik.display">Матф студент</p>
        </div>
        <div class="col-5 date-container">
            <p class="date-text">{{ objava.date | date:'d. M. y, H.mm' }}</p>
        </div>
        <div class="col-1">
            <i *ngIf="korisnik.alas === userService.korisnikPodaci.alas"
               class="fas fa-trash delete" (click)="obrisiObjavu()"></i>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-12 content-container">
            <p class="title">{{objava.title}} <span *ngFor="let tema of objava.topics">
                {{tema}}
            </span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 content-container">
            <p>{{objava.content}}</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-3 p-div">
            <p class="center">
                <i
                    class="far fa-thumbs-up"
                    (click)="lajkujObjavu()"
                    [ngClass]="{'crvena': korisnikLajkovao, 'siva': !korisnikLajkovao}"
                ></i>
                {{objava.likes.length}}
            </p>
        </div>
        <div class="col-3 p-div">
            <p class="center">
                <i
                    class="far fa-comment zelena"
                    (click)="routerNavigation.idiNaObjavu(objava._id)"
                ></i>
                {{objava.comms}}
            </p>
        </div>
        <div class="col-6">
            <button
                *ngIf="!objavaStrana"
                class="button"
                (click)="routerNavigation.idiNaObjavu(objava._id)"
            >
                Иди на објаву
            </button>

            <button
                *ngIf="objavaStrana"
                class="button"
                (click)="prikaziFormuKomentara()"
            >
                Креирај коментар
            </button>
        </div>
    </div>
    <hr/>
    <div class="row" *ngIf="prikazFormeKomentara">
        <form
        id="newComm"
        [formGroup]="komentarFormular"
        (ngSubmit)="kreirajKomentar(komentarFormular.value)"
    >

      <div class="flex w-100">
        <textarea
          #content
          rows='4'
          id="content"
          name="content"
          type="text"
          placeholder="Садржај коментара"
          formControlName="content"
        ></textarea>
        <i class="fa fa-newspaper"></i>
      </div>

      <div class="flex w-100 buttons-div">
        <button
            class="button form-button"
            type="button"
            [disabled]="komentarisanjeTrenutno"
            (click)="sakrijFormuKomentara()"
        >
          <i
            *ngIf="komentarisanjeTrenutno; else odustajanje"
            class="fa fa-lg fa-spinner fa-spin"
          ></i>
          <ng-template #odustajanje>Одустани</ng-template>
        </button>
      <button class="button form-button" type='submit' [disabled]="komentarisanjeTrenutno">
        <i
          *ngIf="komentarisanjeTrenutno; else komentarisanje"
          class="fa fa-lg fa-spinner fa-spin"
        ></i>

        <ng-template #komentarisanje>Коментариши</ng-template>
      </button>
    </div>
        </form>
    </div>
    <hr *ngIf="prikazFormeKomentara"/>
</div>

<app-modal
    [modalNaslov]="modalNaslov"
    [modalPoruka]="modalPoruka"
    [(prikaziModal)]="prikaziModal"
></app-modal>
