<app-header></app-header>

<main>
    <app-posts-options
        [mesto]="'post'"
        (osvezavanjeObjaveEvent)="osveziObjavu()"
    ></app-posts-options>
    <app-online-users></app-online-users>
    <app-post-view
        [objava]="objava"
        [korisnik]="objava.user"
        [objavaStrana]="true"
        (osvezavanjeObjaveEvent)="osveziObjavu()"
    ></app-post-view>
    <app-comment-view
        (osvezavanjeObjaveEvent)="osveziObjavu()"
        *ngFor="let komentar of komentari | user | post | praceni | poredak"
        [komentar]="komentar"
    ></app-comment-view>
</main>

<app-modal
    [modalNaslov]="modalNaslov"
    [modalPoruka]="modalPoruka"
    [(prikaziModal)]="prikaziModal"
></app-modal>
