<header>
    <h1 class="mainhead">МАТ<span id="ffire">Ф</span>ЕТЕРИЈА</h1>

    <div class="flex">
        <input
          class="search-box"
          name="users-search"
          type="text"
          placeholder="Претражи кориснике"
        />
        <i class="fa fa-search"></i>
      </div>
      <div class="settings">
      <i #settings class="fa fa-cog settings-icon" (click)="menjajPadajuciMeni()"></i>
      <div class="settings-content" [ngClass]="{show: prikaziMeni, hide: !prikaziMeni}" >
        <p (click)="idiNaPodesavanja()"><i class="fa fa-user-cog" ></i>&nbsp;Подешавања</p>
        <p (click)="odjaviSe()"><i class="fa fa-sign-out-alt" [ngStyle]="{width: '20px'}"></i>&nbsp;Одјави се</p>
      </div>
    </div>
</header>
