<div class="container">
   <div class="card1">
      <div class="card2">
         <h1 class="mainhead">МАТ<span style="color: firebrick">Ф</span>ЕТЕРИЈА</h1>
         <p class="mainp">Студентска огласна табла</p>
      </div>

      <div id="left">
         <h1 id="span1">
            <span onclick="(() => {
                  document.getElementById('span1').style.color = 'firebrick';
                  document.getElementById('span2').style.color = '#748194';
                  document.getElementById('card3').classList.remove('rota');
               })()">
               Пријави се<br>на таблу
            </span>
         </h1>
      </div>

      <div id="right">
         <h1 id="span2">
            <span onclick="(() => {
                  document.getElementById('span2').style.color = 'firebrick';
                  document.getElementById('span1').style.color = '#748194';
                  document.getElementById('card3').classList.add('rota');
               })()">
               Отвори<br>налог
            </span>
         </h1>
      <div>
   </div>
      
   <div id="card3">
      <form id="signin" [formGroup]="prijavaFormular" (ngSubmit)="prijaviSe(prijavaFormular.value)">
         <br>
         <h1 class="signh1">ПРИЈАВА</h1>
         <hr><br>
         
         <div class="flex">
            <input name="username" type="text" placeholder="Алас име" formControlName="username"/>
            <i class="fa fa-user"></i>
         </div>
             
         <div class="flex">
            <input name="password" type="password" placeholder="Лозинка" formControlName="password"/>
            <i class="fa fa-lock"></i>
         </div>
          
         <button class="button">Отвори таблу</button>
         <br><hr><div style="height: 15px; visibility: hidden;"></div><br>
         
         <p class="signh2" data-toggle="tooltip" data-placement="bottom"
         title="Заборавили сте лозинку? Никакав проблем! Уношењем погрешне три пута, на мејл ће Вам бити послат код за опоравак, попут кода за потрврду приликом пријаве.">Заборављена лозинка?</p>
         <p class="signh2" data-toggle="tooltip" data-placement="bottom"
         title="Имате непремостивих проблема са пријављивањем на таблу? Обратите нам се на pomoc@alas.matf.bg.ac.rs са што детаљнијим описом уоченог проблема.">Проблем са пријавом?</p>
      </form>
      
      <div id ="signup">
         <form [formGroup]="registracijaFormular" (ngSubmit)="registrujSe(registracijaFormular.value)">
            <br>
            <h1 class="signh1">НОВ НАЛОГ</h1>
            <hr><br>
            
            <div class="flex">
               <input name="username" type="text" placeholder="Алас име" formControlName="username"/>
               <i class="fa fa-user"></i>
            </div>
            
            <div class="flex">
               <input name="password" type="password" placeholder="Лозинка" formControlName="password"/>
               <i class="fa fa-lock"></i>
            </div>
            
            <button type="submit">Отвори налог</button>
         </form>
         <hr>

         <form [formGroup]="potvrdaFormular" (ngSubmit)="potvrdiSe(potvrdaFormular.value)">
            <div class="flex">
               <input name="authcode" type="password" placeholder="Потврдни код" formControlName="authcode"/>
               <i class="fa fa-lock"></i>
            </div>

            <button type="submit">Потврди налог</button>
         </form>
      </div>
   </div>
</div>